
body{
    /* background: rgb(74, 155, 350); */
    background: linear-gradient(to right, #ff7e5f, #7b88fe);
}
.heading{
    font-size: 54px;
    text-align: center;
    font-family: "Brush Script MT", cursive;
}
img{
    width: 75%;
    height: 178px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
i{
    font-weight: bold;
}